{% extends 'profile/base.html' %} 

{% block title %}Profile Page{% endblock title %}

{% block content %}

<div class="container">
  <h2 class="text-center">Here's your profile page {{user.username}}</h2>
  <div class="row my-3 p-3">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }} " style="cursor: pointer;"/>
  </div>
  <ul>
    <li>Location: {{user.profile.location}}</li>
    <li>Occupation: {{user.profile.occupation}}</li>
    <li>Bio: {{user.profile.bio}}</li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a class="btn btn-primary btn-lg" role="button" aria-current="page" href="{% url 'updateprofile' %}">Update Profile</a>
    </div>
  </div>
</div>


{% endblock %}